<ion-toolbar style="color: brown">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
  Book List
  </ion-title>
  <ion-buttons slot="end">
      <ion-button shape="round"slot="end" routerLink="/create"><ion-icon name="add-circle"></ion-icon></ion-button>
   
    </ion-buttons> 
</ion-toolbar>

<ion-content>
 

  <ion-list>

    <ion-item-sliding *ngFor="let expense of classrooms; let i=index" routerLink="/detail/{{expense.id}}">
      <ion-item nopadding>
          <ion-icon name="Book" slot="start"></ion-icon>

        <p>
          <span>{{expense.id}}</span><br>
        Name: {{expense.name}}<br>
          availability :{{ expense.availability}}
        </p>
        <h6  slot="end">
          Price: ${{expense.price}}  
        </h6>
      </ion-item>
      <ion-item-options side="end">
         <button ion-button color="primary"  >
          <ion-icon name="paper"></ion-icon>
        </button>
       <button ion-button color="danger"  >
          <ion-icon name="trash"></ion-icon>
        </button> 
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>